
.button2 {
  @apply absolute -translate-x-2/4 -translate-y-2/4 w-[320px] h-[60px] no-underline
    uppercase text-center leading-[60px] text-[#2a8a68] text-sm tracking-[4px] left-2/4 
    top-2/4 before:-left-0.5 before:-top-0.5 after:-right-0.5 after:-top-0.5 font-bold;
}
.button2:before,
.button2:after,
.b2span:before,
.b2span:after {
  @apply bg-[#2a8a68] content-[''] absolute w-2.5 h-2.5 mix-blend-hue transition-all duration-[1s];
}
.b2span:before {
  @apply -left-0.5 -bottom-0.5;
}
.b2span:after {
  @apply -right-0.5 -bottom-0.5;
}
.button2:hover:before,
.button2:hover:after,
.button2:hover .b2span:before,
.button2:hover .b2span:after {
  @apply w-[calc(_250px/2_)] h-[calc(_50px/2_)];
}
/* .fffv {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
} */
/* .jjj {
  gap: 0.2rem;
  align-items: center;
  justify-content: flex-start;
} */